.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: hsl(var(--bkg2));
    font-family: 'VT323', monospace;
    border-bottom: 1px solid #ffa500;
  }
  
  .navbarIcon {
    font-size: 2em;
    font-weight: bold;
  }
  
  .navbarText {
    display: flex;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin: 0;
    

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
  }

  .navbarLinks {
    display: flex;
    list-style: none;
    margin: 0;

    @media screen and (max-width: 768px) {
        display: none;
    }
  }
  
.navbarLinks li {
  position: relative;
  padding: 5px 0;
  margin-right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  letter-spacing: 0.15em;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffa500;
    transition: width 0.7s ease 0s, left 0.7s ease 0s;
    width: 0;
  }

  &:hover:after {
    width: 100%;
    left: 0;
  }

  @media screen and (max-width: 768px) {
    display: block;
    margin: 10px;
  }
  }
  
  .navbarLinks a {
    color: #ffd300;
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000;
  }
  
  /* .button {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-align: center;
  } */
  
  /* .button a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    animation: text-Flicker 2s infinite reverse;
  } */

  /* .image {
    max-width: 100%;
    height: auto;
  } */
  .navbarButton {

  color: #ffa500;
  cursor: pointer;
  padding: 0.35rem 1em;
  border: 0.15em solid #ffa500;
  border-radius: 0.45em;
  background: #d1852d;
  perspective: 2em;
  font-family: "VT323", monospace;
  font-size: 1em;
  letter-spacing: .05em;
  align-items: center;
  text-transform: uppercase;
  animation: faulty-flicker 2s linear infinite;


  -webkit-box-shadow: inset 0px 0px 0.5em 0px #ffa500,
  0px 0px 0.5em 0px #ffa500;
  -moz-box-shadow: inset 0px 0px 0.5em 0px #ffa500,
  0px 0px 0.5em 0px #ffa500;
  box-shadow: inset 0px 0px 0.5em 0px #ffa500,
  0px 0px 0.5em 0px #ffa500;
  animation: border-flicker 2s linear infinite;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: #ffa500;
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: #ffa500;
    box-shadow: 0 0 2em 0.2em #ffa500;
    transition: opacity 100ms linear;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }

  &:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }

  &:hover:after {
    opacity: 1;
  }

  @keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

  @keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  font-size: 1em;

}}


.navbarText {
    animation: var(--neonFlicker);
    text-shadow: 0 0 10px hsl(var(--shadow)), 0 0 20px hsl(var(--shadow)), 0 0 30px hsl(var(--shadow)), 0 0 40px hsl(var(--shadow));
  }
  
  .span-long-flicker {
    animation: var(--neonFlicker) 12s linear reverse infinite;
  
  }
  
  .span-short-flicker {
    opacity: 1;
    animation: var(--neonFlicker) 2s linear reverse infinite;
  }
  
  .span-short-flicker::after {
    content: '';
    width: 150%;
    -webkit-box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
    -moz-box-shadow: -35px 0 px 60px 8px hsl(var(--shadow));
    box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
  }
  
  .span-long-flicker::after { 
      content: '';
      width: 150%;
      -webkit-box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
      -moz-box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
      box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
  }
  
  
  
    /* display: flex;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0;
    animation: ${neonFlicker} 1.5s ease-in-out infinite alternate;
    text-shadow: 0 0 10px hsl(var(--shadow)), 0 0 20px hsl(var(--shadow)), 0 0 30px hsl(var(--shadow)), 0 0 40px hsl(var(--shadow)); */
  
   
  
  
  
  
