export const HamburgerMenu = styled.div`
  display: block;
  position: aboslute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  margin-left: 1rem;

  @media screen and (min-width: 768px) {
    display: none;
  }
`;

export const NavContainer = styled.nav`
  font-family: 'VT323', monospace;
`;

export const NavLinks = styled.ul`
  display: flex;
  list-style: none;
  margin: 0;

  @media screen and (max-width: 768px) {
    display: none;
  }
`;
