.navigationLogo {
  animation: var(--neonFlicker);
  text-shadow: 0 0 10px hsl(var(--shadow)), 0 0 20px hsl(var(--shadow)), 0 0 30px hsl(var(--shadow)), 0 0 40px hsl(var(--shadow));
}

.span-long-flicker {
  animation: var(--neonFlicker) 12s linear reverse infinite;

}

.span-short-flicker {
  opacity: 1;
  animation: var(--neonFlicker) 2s linear reverse infinite;
}

.span-short-flicker::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
  -moz-box-shadow: -35px 0 px 60px 8px hsl(var(--shadow));
  box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
}

.span-long-flicker::after { 
    content: '';
    width: 150%;
    -webkit-box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
    -moz-box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
    box-shadow: -35px 0px 60px 8px hsl(var(--shadow));
}



  /* display: flex;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;
  animation: ${neonFlicker} 1.5s ease-in-out infinite alternate;
  text-shadow: 0 0 10px hsl(var(--shadow)), 0 0 20px hsl(var(--shadow)), 0 0 30px hsl(var(--shadow)), 0 0 40px hsl(var(--shadow)); */

 



